<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 쿼리문 작성은 여기에 -->

<mapper namespace="Board_Mapper">
	

	<!-- 조회 -->
 	<select id="select" resultType="com.spring.legacyAndMyBatis.dto.BoardDTO">
 		SELECT * FROM BOARD ORDER BY BOARDNO DESC
 	</select>
 	
  	<!-- 등록 -->
 	<insert id="insert" parameterType="com.spring.legacyAndMyBatis.dto.BoardDTO">
 		INSERT INTO BOARD
 					(USERID, BOARDNO, BOARDCONTENT, BOARDTITLE)
 					VALUES
 					(#{userId}, BOARDNO_SEQ.NEXTVAL, #{boardContent}, #{boardTitle})
 	</insert>
	
</mapper>